img {
      width: 80px; /* Adjust the width and height as needed */
      border-radius: 50%;
      float: left;
      margin: right 20px;
    }
    nav a{
        text-decoration:none;
        margin-left:20px;
    }
    #About{
        margin: 40px;
    }
    #Experiences{
        margin: 70px;
    }